body {
    background-color: #FFFFFF;
}


table {

    width: 100%;
    border-collapse: collapse

}

th,td {
    color: #0F615E;

    height: 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 2px;
}


tr {

}

tr:hover{
    background-color: #B3EAFF;
}


.stations {
    font-size: 13;

}

.date {
    font-size: 13;

}

.time {
    font-size: 17;
    font-weight: bold;
}

.places {
    font-size: 17;

}


h4.reference {
    text-align: right;
}

#trainsRef {
    color: green
}


